# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**

Overview of commonly used languages and library. This notebook have few examples of syntax of Markdown cell and code cell containing List, Table and arithmetic expressions.

List popular languages for Data Science
- Python
- R
- Julia
- SQL
- Javascript

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. Tensorflow

|Data Science Tools|
|------------------|
|JupyterLab|
|Rstudio|
|Anaconda|
|VS code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
a = 10
b = 12
c = a * b
c

120

In [11]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [12]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author : Ayush Bhardwaj